.Weather-App-Page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.Weather-App{
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px lightgray;
}

.Day-Card{
    border: 1px solid grey;
    box-shadow: 2px 2px lightgray;
    width: 120px;
    padding: 5px;
    margin: 10px;
    list-style-type: none;
}

.Day-Card-Today{
    border: 2px solid black;
    box-shadow: 3px 3px grey
}

.Day-Of-The-Week{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.Image-Container{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.Weather-Image{
    width: 80px;
    height: auto;
    padding: 2px;
}

.Min-Max-Container{
    border: 1px dashed black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
    height: 30px;
}

.Min-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: grey;
}

.Max-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Minimum-Temperature{
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom:0px;
    padding: 1px;
}

.Maximum-Temperature{
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom:0px;
    padding: 1px;
}

.daily-hourly-div{
    display: flex;
    flex-direction: row;
}

.hourly-div{
    border: 1px solid black;
    width: 7vw;
    height: auto;
    margin: 1px;
}

.hourly-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center
}

.hours-title{
    justify-content: ;
}

.Min-Max-Container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}